/* Global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* Header */

header{
    background: #fff387;
    padding: 1rem;
    position: absolute;
    width: 100%;
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    flex-basis: 50%;
}

#logo a{
    color: #222;
}

#menu nav{
    flex-basis: 50%;
}

#menu nav ul{
    display: flex;
    justify-content: space-around;
}

/* Forside */

/* Main */

#forside-main{
    background: url("../img/hero-image.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
    background-color: #00000099;
    height: 100vh;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

#hero h2{
    font-size: 4rem;
}

#hero p{
    max-width: 30%;
    margin: 2rem auto;
}

#info-button{
    background-color: #fff387;
    color: #222;
    padding: 8px;
}

/* Info */

/* Header */

header.normal-position{
    position: relative;
}

/* Main */

#info-main{
    margin: 4rem;
}

#info-main h1{
    padding: 1rem 2rem;
}

.flex-container{
    display: flex;
}

.flex-container div{
    padding: 2rem;
    flex-basis: 50%;
}

.flex-container div h3{
    text-decoration: underline;
    margin-bottom: 1rem;
}

#info-main{
    color: #222;
}

.parallax {
    background-image: url("../img/parallax-image.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Kontakt */

/* Main */

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #222;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #fff387;
    color: #222;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #222;
    color: #fff;
}